<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<th:block th:replace="fragments/head :: headFragment"></th:block>>
<!-- head of end -->

<body>
<div id="hd_login_msg">영카트5님 로그인 중 <a href="javascript:void();">로그아웃</a></div>

<div id="to_content"><a href="javascript:void();">본문 바로가기</a></div>

<!--header -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>>
<!--header of end -->

<div id="wrapper">
    <div id="container" class="">
        <h1 id="container_title">회원메일입력</h1>
        <div class="container_wr">
            <div class="local_desc">
                <p> 사용 설명란 </p>
            </div>

            <!--
            <form name="fmailform" id="fmailform" action="./mail_update.php" onsubmit="return fmailform_check(this);" method="post">
            -->
            <form th:action="@{/mail/send}" method="post">
                <input type="hidden" name="w" value="" id="w">
                <input type="hidden" name="ma_id" value="0" id="ma_id">
                <input type="hidden" name="token" value="" id="token">

                <div class="tbl_frm01 tbl_wrap">
                    <table>
                        <caption>회원메일입력</caption>
                        <colgroup>
                            <col class="grid_4"><col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <label for="mailaddress">메일 주소<strong class="sound_only">필수</strong></label>
                            </th>

                            <td>
                                <input id="mailaddress" type="text" name="ma_subject" th:value="${mailaddress}" required class="required frm_input" size="100">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label for="mailtitle">메일 제목<strong class="sound_only">필수</strong></label>
                            </th>

                            <td>
                                <input id="mailtitle" type="text" name="ma_subject" th:value="${mailtitle}" required class="required frm_input" size="100">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label for="mailcontent">메일 내용<strong class="sound_only">필수</strong></label>
                            </th>

                            <td>
                                <textarea
                                        id="mailcontent"
                                        class="smarteditor2"
                                        maxlength="65536"
                                        placeholder="보낼 내용을 입력하세요"
                                        th:text=${mailcontent}
                                ></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn_fixed_top ">
                    <input type="submit" class="btn_submit btn" accesskey="s" value="확인">
                </div>
            </form>

        </div>
        <!--footer -->
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>>
        <!--footer of end -->
    </div>

</div>

</body>
</html>
